{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}G-Review{% endblock title %}</title>
    <link
      rel="icon"
      href="{% static 'images/discordicon.png' %}"
      type="image/png"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Link y script del Slide-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
    
  </head>

  <body>
    <!-- <i class="icon-menu burguer-button" id="burger-menu"></i> -->
    <header class="header">
      <div class="container">
        <figure class="logo">
          <img
            src="{% static 'images/logo.png' %}"
            height="50"
            alt="Logo de G-Review"
          />
        </figure>
        <nav>
          <ol>
            <li>
              <a class="link" href="{% url 'home' %}">Inicio</a>
            </li>
            <li>
              <a class="link" href="{% url 'category' %}">Categorías</a>              
            </li>           
            <li>
              <a class="link" href="{% url 'indicadores' %}">Indicadores Económicos (API)</a>
            </li>
            <li>
              <a class="link" href="{% url 'pokemons' %}">Pokédex (API)</a>
            </li>
            
            {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="link" href="#">Bienvenido {{ user.username }}</a>
            </li>
            <li class="nav-item active">
              <a href="{% url 'logout' %}" class="nav-link">Cerrar sesión</a>
            </li>
            {% else %}
            <li class="nav-item active">
              <a href="{% url 'login' %}" class="link">Iniciar sesión</a>
            </li>
            <li class="nav-item active">
              <a href="{% url 'signin' %}" class="nav-link">Registrar</a>
            </li>
            {% endif %}
          </ol>
        </nav>
      </div>




    </header>
    
    <!--API indicadores economicos-->
    
    <!-- <p class="text-center">Indicadores Económicos API</p>
    <div class="container my-5 text-center">
      <div class="mt-5">
          <table class="table table-dark">
              <thead>
                  <tr>
                      <th scope="col">Código</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Unidad_medida</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Valor</th>
                  </tr>
              </thead>
              <tbody id="contenido"></tbody>
          </table>
      </div>

      <script src="../static/js/indicadores.js"></script>
      <script>traer()</script> -->
      

      <!--API pokemon-->
      
<!--       <p class="text-center">Pokédex API</p>
      <div class="container">
        <h1>Pokedex</h1>
        <ul id="pokedex"></ul>
    </div>
      <script src="../static/js/pokeapi.js"></script>
      <script>fetchPokemon()</script> -->
      
    <div >
      {% block content %} {% endblock %}
    </div>
    <section id="contacto" class="footer">
      <div class="container">
        <form action="/suscripcion/" class="form-email">
          <h3>Suscríbete a nuestro boletín</h3>
          <input type="text" placeholder="      Déjanos tu e-mail" id="email" />

          <button>Enviar</button>
        </form>
        <div class="social">
          <a
            href="{{ socials.twitter }}"
            target="_blank"
            class="social-link twitter"
          ></a>
          <a
            href="{{ socials.facebook }}"
            target="_blank"
            class="social-link facebook"
          ></a>
          <a
            href="{{ socials.instagram }}"
            target="_blank"
            class="social-link instagram"
          ></a>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div>
          <p>
            &#169; 2019
            <img
              src="{% static 'images/logo.png' %}"
              width="80"
              alt="greview"
            />
          </p>
        </div>
        <div>
          <p>
            Diseñado por
            <img
              src="{% static 'images/logo.png' %}"
              width="80"
              alt="greview"
            />
          </p>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/indicadores.js' %}"></script>
  </body>
</html>
